body{
	background-color:gray;
	  min-width: 1550px;
}
.main{
    width:90%;
	margin:0 auto;
}
.header{
	min-height:40px;
	width:100%;;
	background-color:black;
	line-height:40px;
	font-size:10px;
	margin:0;
}
ul li{
	color:white;
	display:inline;
	float:left;
	padding-right:50px;
}
img{
	border:0px;
	padding:0px;
}





