body{
	background-color:gray;
}
.header{
	min-height:40px;
	width:100%;
	background-color:black;
	line-height:40px;
	font-size:10px;
	margin:0;
}
ul li{
	color:white;
	display:inline;
	float:left;
	padding-right:50px;
}
img{
	border:0px;
	padding:0px;
}
.carttable{
	margin-bottom:30px;
	margin-top:10px;
	width:100%;
}
.carttable td{
	width:100px;
	text-align:center;
}
.index{
	margin-bottom:30px;
	margin-top:10px;
	width:100%;
}
.index th{
	width:100px;
}
div{
	text-align:center;
}




